*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(17, 3, 3);
}
.profile-picture{
    border: 3px whitesmoke solid;

    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.profile-container{
    width: 300px;
    background-color: blueviolet;
}
.profile-top{
    height: 38vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.profile-bottom{
    background-color: white;
}
.followers_following{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.model{
    font-size: 30px;
    font-weight: 300;
}
.profile-bottom{
    color: rgba(134, 103, 103, 0.932);
    min-height: 62vh;
}
.img-container{
    display: flex;
}
.details{
    height: 80px;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(134, 103, 103, 0.384);
}
i{
    margin-right: 10px;
}
.details_heading{
    font-size: 13px;
}
h3{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 25px;
}